{% extends 'boiler.html' %}
{%block content%}
{%load static%}

<form method="POST" action="/vtvsn/donorlist/">
{% csrf_token %}
 <title>Vote Vision • Donation</title>

 <div class="guide1">
    <p align="center"; class="guides_design1" ><b><em>Your gift can make a difference.</em></b><br><em>Vote Vision not only connects with voters; it also wants to assist charities in the <br>Philippines with funding; and the website typically supports 
        <div class="radiobutton"><center>
            <fieldset>
                <legend><b>Donor Information</b></legend>
                <label><i>Please complete the form below to make <br>your donation to Vote Vision.</i></label>
                <br><br>
                <input type="text" name="donor_name" placeholder="Lastname, Firstname MI."/>
                <input type="tel" name="contact_no" pattern="[0-9]{11}" placeholder="Contact Number" required /><br>
                <input type="email" name="donor_email" placeholder="Email Address" required/>
                <input type="text" name="donor_address" placeholder="City/Municipality, Province" required/><br>
      <!-- <p>Donate Now</p>
      <input class="radiobutton" type="date" name="begin" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31" required/><br> -->
<!--        <input type="text" id="amount" name="amount" placeholder="Donation Amount" required></textarea>
        <select name=designation id="designation" required>
          <option class="" value ="" disabled selected="">Designation of your donation</option>
          <option value="FTC">Feed the Children</option>
          <option value="FFTH">Food for the Hungry</option>
          <option value="WFP">World Food Programme</option>
          <option value="AAH">Action Against Hunger</option>
          <option value="RAHP">Rise Against Hunger Philippines</option>
          <option value="O">Other</option>
        </select><br>
        <select name=service id="service" required>
          <option class="form_text" value ="" disabled selected="">Select prepared payment service</option>
          <option value="GP">Grab Pay</option>
          <option value="GC">GCash</option>
          <option value="BDO">Paypal</option>
        </select>
 
        <input type="text" id="eWallet" name="eWallet" placeholder="eWallet Number" required></textarea><br>
        <textarea name="dMessage" placeholder="Leave a message (optional)" required></textarea> -->

        <br>

         <button type="submit" class="radiobutton" name="btn" id="btn">SUBMIT</button>
         <button type="reset" class="radiobutton">CLEAR</button>
    </div>
</center>
</div>
</fieldset>
</form>
{% endblock %}
       