<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="Vote Vision" content="width=device-width, initial-scale=1.0"/>
    <title>Vote Vision • Donation</title>
    <link rel="stylesheet" href="others/cssdesign.css"> 
    <link rel="icon" href="image/vvicon.png" type="image">
</head>
    <style type="text/css">
    body {
        overflow: hidden;
        cursor: url("others/lightgreencursor.cur"), auto;
    </style>
<body>
       <div class="top">
      <a href="index.html" class="topnav_select">HOME</a>
      <a href="About-VoteVision(2).html" class="topnav_select">ABOUT</a>
      <a href="Guides-VoteVision2.html" class="topnav_select" style="padding-right: 40px;">GUIDES</a>
    </div>
</head>
         <div class="guide1">
      <p align="center"; class="guides_design1" ><b><em>Payment Details</em></b><br><em>
        

      

  </body>
</html>
</body>
</html>
       




      